$window-height: rem(600px);
$window-width: 50rem;

.window {
    @include apply-space("padding", -5, "y");
    @include apply-gradient ("shade-2", "shade-4", to bottom right);
    @include apply-border("light", $border-radius-window);

    @include apply-font-family("roboto");
    
    // ! Remove the following
    margin-top: 3rem;
    // max-width: $window-width;
    // height: auto;
}

.sub-window {
    @include apply-gradient ("shade-1", "shade-2", to bottom right);
    @include apply-border("light", $border-radius);
    
    overflow: auto;
    // height: $window-height;
}

// ! Revisit - change to grid
.window-tools {
    // @include apply-flex(row, null, center);

    border-bottom: solid 1px white;
}

.window-work {
    @include apply-flex(row, space-between, start);
}

