// ⚠️ Needs Refactoring
// 🔴 In Progress











// ! WORKING =============================================
summary::-webkit-details-marker {
  display: none;
}
summary::before {
  content: "+";
  padding-right: 0.5em;
}
details[open] summary::before {
  content: "-";
}

/* Custom styles for the summary text */
summary {
  cursor: pointer;
  color: #333; /* Change text color */
  font-weight: bold;
}

/* Custom styles for the content within the details element */
details > p {
  margin-left: 1em; /* Adjust indentation */
}
