// ==============================
// WINDOW CONTENT SECTION
// ==============================
// CONTENT: Within the window body and under the toolbar.
// Contains the content intended to be displayed in the window body.
.window__content {
  // Fit content under toolbar using all available space.
  height: calc(100% - $toolbar--height);
}

// CONTENT WRAPPER: Contains sections with different content within the window content area.
// Used within the window__content area to wrap different sections of content and control the overflow.
.window__content--wrapper {
  @include apply-space("padding", -10, "x", $important: true);
  @include apply-space("padding", -5, "y", $important: true);

  height: 100%;
  overflow-y: auto;

  // ! Revisit: Fix Mixins for Media Query.
  @media (min-width: 0px) and (max-width: 1023px) {
    overflow-y: visible;
  }
}
