// WINDOW CONTENT
// location: (Within Window Body: Bottom) (All content under toolbar)
.window__content {
  // Fit content under toolbar using all available space.
  height: calc(100% - $toolbar--height);
}

// Wrapper for content sections. (Sections: item-details.scss and item-list.scss)
.window__content--wrapper {
  @include apply-space("padding", -10, "x", $important: true);
  @include apply-space("padding", -5, "y", $important: true);

  height: 100%;
  overflow-y: auto;

  // ! Revisit: Fix Mixins for Media Query.
  @media (min-width: 0px) and (max-width: 1023px) {
    overflow-y: visible;
  }
}
