// <===== WINDOW TABLE SECTION =====>
table {
  @include apply-font-family("roboto");
  @include apply-border("shade-8");
  @include apply-box-shadow("always-dark", 1);

  width: 100%;
  user-select: none;
}

thead {
  background-color: var(--shade-1);
  border-bottom: solid rem(1px) var(--shade-10);
}

th {
  @include apply-space("padding", -10, "x");
  @include apply-space("padding", -10, "y");

  &:nth-child(1) {
    text-align: left;
  }
}

tbody {
  background-color: var(--shade-3);
}

td {
  @include apply-space("padding", -10, "x");

  &:nth-child(n + 2) {
    text-align: center;
  }
}

.table__action-cell {
  @include apply-flex(row, space-evenly, center);
}

.table__action-cell button {
  @extend %toggle-menu__button--style;

  // <===== BUTTON TOOLTIP SECTION =====>
  &::after {
    @include apply-position(absolute, $bottom: 100%, $left: 50%);

    content: attr(data-action);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;

    @extend %tooltip--layout;
    @extend %tooltip--style;
  }

  // TOOL TIP VISIBILITY
  &:hover::after {
    visibility: visible;
    opacity: 1;
  }
}

tbody tr {
  &:nth-child(odd) {
    background-color: var(--shade-4);
  }

  &:hover {
    background-color: var(--shade-8);
    @include apply-gradient("shade-7", "shade-8", to bottom right);
  }
}