// <===== WINDOW DETAILS SECTION =====>

// ! WORKING =============================================
.selected-item-details {
  @include apply-border("shade-8");
  @include apply-box-shadow("always-dark", 1);
  @include apply-gradient("shade-6", "shade-8", to bottom right);

  width: 100%;
  height: $window--height - $window__bar--height - $toolbar--height +
    halved-modular-scale(-13);
  position: sticky;
  top: $toolbar--height + halved-modular-scale(-5);

  //   @include apply-font-family("roboto");
}

// ! WORKING =============================================
.item-details__top-section {
  @include apply-flex(row, center, center);
  @include apply-space("padding", -10, "x");
  @include apply-space("padding", -5, "y");

  height: 40% !important;
}

.item__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

// ! WORKING =============================================
.item-details__bottom-section {
  @include apply-gradient("shade-2", "shade-3", to bottom left);
  @include apply-space("margin", -10, "x");
  @include apply-space("margin-bottom", -5);
  @include apply-space("padding", -10, "x");
  @include apply-space("padding", -5, "y");

  height: calc(60% - halved-modular-scale(-5));
  overflow-y: auto;
}


