// <===== BASE APP STRUCTURE SECTION =====>
// WRAPPER FOR APP'S HEADER, MAIN CONTENT, AND FOOTER (EXCLUDES SIDEBAR)
.content {
  @include apply-flex(column);

  flex-grow: 1; // Expand to fill available space
  min-height: 100vh;

  // WRAPS APP'S MAIN CONTENT (EXCLUDES HEADER AND FOOTER)
  &__main {
    flex-grow: 1; // Expand to fill available space
  }
}

// BASE UTILITIES STYLES
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  border: none;
  user-select: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  outline: inherit;
  padding: 0;
  margin: 0;
}

// BASE LINK STYLES 
a {
  text-decoration: none;
  color: inherit;
}
