// ~~~~~~~~~~~~~~~~~~~ ROOT CSS ~~~~~~~~~~~~~~~~~~~ 
:root {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    
    @include apply-theme-colors($light-theme-colors); // Light Mode Theme Colors
    @include apply-font-family("inter");

    // ! Revisit (Not sure if this is necessary)
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
  }
  
  #root {
    display: flex;
    flex-grow: 1; // Expand to fill available space
    overflow-x: hidden; // Prevent horizontal scrollbar
    max-width: 100%; 
    min-height: 100vh; 
    color: var(--light);
    background-color: var(--medium-dark);
  }