// ~~~~~~~~~~~~~~~~~~~ TYPOGRAPHY CSS ~~~~~~~~~~~~~~~~~~~ 
// HEADERS (H1 - H6)
@each $header, $step in $header-steps {
  #{$header} {
    font-size: modular-scale($step);
    line-height: calc(1.2 * modular-scale($step));
    font-weight: if($step > 3, 550, 500);
  }
}

// PARAGRAPHS
p {
  font-size: $base-font-size;
  line-height: calc(1.5 * modular-scale(0));
}

// LABELS
label, span {
  font-size: modular-scale(-1);
  line-height: calc(1.2 * modular-scale(-1));
}
