// ! WORKING =============================================

// Item details top section....

.select-img__section--wrapper {
  // @include apply-flex(row, center, center);
  @include apply-space("padding", -10, "x");
  @include apply-space("padding-bottom", -5);

  width: 100%;
  height: 10%;

  // border: solid red 1px;
}

.select-img__section {
  @include apply-gradient("shade-2", "shade-3", to bottom left);
  @include apply-flex(row, space-between, center);

  width: 100%;
  height: 100%;

  // border: solid red 1px;
}

// left and right buttons
.select-img__section button {
  @include apply-flex(column, center, center);
  @include apply-space("padding", -10, "x");

  svg {
    @include set-typography("medium", 3, $base-line-height);
  }
}

.left-img-btn {
  color: var(--dark);
  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateX(rem(-1px));
    color: var(--selection);
  }
}

.right-img-btn {
  @extend %icon-text__button--style;
}

// CONTAINER FOR IMAGES
.select-img__group {
  @include apply-flex(row, start, center);
  @include apply-border("opacity-shade-1", $border-radius-sm);
  @include apply-glass-effect("opacity-shade-1", 10px);
  @include apply-box-shadow("shade-20", 1, 2x, 3px);

  width: 75%;
  height: 100%;
  overflow: hidden;
}

.select-img {
  @include apply-flex(row, center, center);
  @include apply-space("padding", -10, "x");
  @include apply-space("padding", -10, "y");

  width: 50px;
  height: 100%;
  flex-shrink: 0; // prevent the images from shrinking
  cursor: pointer;

  &:hover {
    @include apply-border("shade-8", $border-radius-sm);
    box-sizing: border-box;
  }
}

// Item details bottom section....
