// ==============================
// WINDOW TABLE SECTION
// ==============================
// Within the content wrapper which seperates content within the window body.
table {
  @include apply-font-family("roboto");
  @include apply-border("shade-8");
  @include apply-box-shadow("always-dark", 1);

  width: 100%;
  user-select: none; // Disable text selection
}

// ==============================
// TABLE HEADER SECTION
// ==============================
thead {
  background-color: var(--shade-1);
  border-bottom: solid rem(1px) var(--shade-10);
}

// TABLE HEADER: INDIVIDUAL CELLS
th {
  @include apply-space("padding", -10, "x");
  @include apply-space("padding", -10, "y");

  &:nth-child(1) {
    text-align: left;
  }
}

// ==============================
// TABLE BODY SECTION
// ==============================
tbody {
  background-color: var(--shade-3);
}

// TABLE BODY: ROWS
tbody tr {
  // Every odd row has a different background color.
  &:nth-child(odd) {
    background-color: var(--shade-4);
  }

  // Apply hover effect on every row.
  &:hover {
    @include apply-gradient("shade-7", "shade-8", to bottom right);

    background-color: var(--shade-8);
  }
}

// TABLE BODY: INDIVIDUAL CELLS
td {
  @include apply-space("padding", -10, "x");

  // Center text on every cell after the first cell.
  &:nth-child(n + 2) {
    text-align: center;
  }
}

// ==============================
// SPECIFIC CELL: ACTION CELL
// ==============================
// Contains buttons for actions on the table data. (e.g., Edit, Delete)
.table__action-cell {
  @include apply-flex(row, space-evenly, center);
}

.table__action-cell button {
  @extend %icon-text__button--style;

  // <===== BUTTON TOOLTIP SECTION =====>
  // Tooltip layout and style (hidden by default).
  &::after {
    @include apply-position(absolute, $bottom: 100%, $left: 50%);

    content: attr(data-action);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;

    @extend %tooltip--layout;
    @extend %tooltip--style;
  }

  // Display tooltip on hover
  &:hover::after {
    visibility: visible;
    opacity: 1;
  }
}

