$form__input--width: rem(125px);

// ! Revisit: Refactor later
// ==============================
// EDIT FORM SECTION
// ==============================
// Edit form: general layout
.product-edit__form {
  @include apply-flex(column, center, center);
  @include apply-space("padding", -10, "x");
}

// Utilities: Edit form inputs, selects, and textarea styles
.product-edit__form input,
.product-edit__form select,
.product-edit__form textarea {
  @extend %form-input--style;
}

.product-edit__form input[type="text"],
.product-edit__form input[type="number"],
.product-edit__form select {
    width: $form__input--width;
}

.product-edit__form textarea {
  @include apply-font-family("roboto");

  resize: none;
  width: 100%;
}

// Edit form: Grouped labels and inputs
.product-edit__label-group {
  @include apply-flex(row, space-between, center);

  width: 100%;
}

// Edit form: (Top Area) Labels and Inputs (for Name and Category).
.product-edit__label-icon {
  // LAYOUT
  @include apply-flex(row, start, center);
  @include apply-space("gap", -10);

  // FONT SIZE, WEIGHT, AND LINE HEIGHT
  @include set-typography("medium", 0, $base-line-height);

  // LABEL ICON
  svg {
    color: var(--shade-10);
  }
}

// Edit form: (Bottom Area) Labels and Inputs (for Description and Details).
.product-edit__description {
  // LAYOUT
  @include apply-flex(column, center, start);
  @include apply-space("padding", -10, "y");
  @include apply-space("padding", -5, "x");

  width: 100%;

  // SET LABEL FONT SIZE, WEIGHT, AND LINE HEIGHT
  label {
    @include set-typography("medium", 0, $compact-line-height);
  }
}

// ! Revisit: Currently used for item-view and item-edit. Refactor later
.custom-row--wrapper {
  @include apply-flex(row, center, center);

  width: 100%;
}

.custom-column--wrapper {
  @include apply-flex(column, center, start);
  @include apply-space("margin", -10, "x");
  @include apply-space("margin", -5, "y");
  @include apply-space("padding", -5, "x");
  @include apply-space("padding", -10, "y");
  @include apply-space("gap", -10);
  @include apply-gradient("shade-6", "shade-7", 180deg);
}

.product-edit__btn {
  @include apply-font-family("roboto");
  @include set-typography("medium", 0, $base-line-height);
  @extend %icon-text__button--layout;
  @extend %icon-text__button--style;
}
