%toggle-menu--layout {
  @include apply-flex(column, center, start);
  @include apply-space("gap", -10);

  z-index: 1;
}

%toggle-menu--style {
  @include apply-font-family("inter");
  @include apply-gradient("light", "shade-1", to right top);
  @include apply-border("shade-10", $border-radius);
  @include apply-box-shadow("shade-10", 10);

  font-weight: 300;
}

%toggle-menu__button--layout {
  @include apply-flex(row, center, center);
  @include apply-space("gap", -10);
}

%toggle-menu__button--style {
  color: var(--dark);
  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateX(rem(1px));
    color: var(--selection);
  }
}

%tooltip--layout {
  @include apply-space("padding", -5, "x");
  @include apply-space("padding", -15, "y");
}

%tooltip--style {
  @include apply-glass-effect("opacity-light");
  @include apply-border("opacity-shade-5", $border-radius);
  
  color: var(--dark);
  transition: opacity 0.3s ease, visibility 0.3s ease;

  @extend %tooltip--typography; // (SEE _TYPOGRAPHY.SCSS)
}
