// !REVISIT
// Base Colors (PRIMARY COLORS IN DESIGN)
// Semantic Colors (STATES, SUCCESS, ERROR, WARNING, INFOREQUIREMENTS, DISABLED)
// Utility Colors (INTERACTIONS, FEEDBACK, HOVER, FOCUS)

// BASE VARIABLES
$base-unit: 1rem;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-weight: 400;

// MODULAR SCALE (MAJOR THIRD)
$modular-scale: 1.25;

// FONT FAMILIES
$font-families: (
  "inter": ("Inter", system-ui, "Avenir", "Helvetica", "Arial", sans-serif),
  "exo": ("Exo", sans-serif),
  "exo-2": ("Exo 2", sans-serif),
  "roboto": ("Roboto", sans-serif),
  "roboto-condensed": ("Roboto Condensed", "Arial Narrow", sans-serif),
  "ysabeau": ("Ysabeau", sans-serif),
  "ysabeau-infant": ("Ysabeau Infant", sans-serif),
  "ysabeau-office": ("Ysabeau Office", sans-serif),
  "ysabeau-sc": ("Ysabeau SC", sans-serif),
);

// HEADER STEPS FOR MODULAR SCALE (SEE TYPOGRAPHY.SCSS FOR USAGE)
$header-steps: (
  "h1": 6,
  "h2": 5,
  "h3": 4,
  "h4": 3,
  "h5": 2,
  "h6": 1,
);

// !REVISIT BROKEN
// MEDIA QUERY BREAKPOINTS
$breakpoints: (
  "xsmall": (
    max-width: rem(480px),
  ),
  "small": (
    max-width: rem(770px),
  ),
  "medium": (
    max-width: rem(1025px),
  ),
  "large": (
    max-width: rem(1280px),
  ),
  "xlarge": (
    max-width: rem(1440px),
  ),
);

// <===== THEME COLOR SECTION =====>
// SHARED COLORS ACROSS THEMES
$shared-colors: (
  // BASE COLORS
  "always-light": hsl(0deg 0% 100%),
  "always-dark": hsl(0deg 0% 7%),
  "theme": #618adf
);

// !REVISIT
// <===== LIGHT THEME COLOR SECTION =====>
// LIGHT THEME COLORS
$light-theme: (
  /* BASE COLORS */ "light": hsl(0deg 0% 100%),
  "dark": hsl(0deg 0% 0%),

  "selection": hsl(192, 24%, 88%),
  // "selection": hsl(195deg 53% 79%),
);

// LIGHT THEME SHADES OF GRAY
$light-shades: generate-shades("light");

// MERGE LIGHT THEME COLORS AND SHADES
$light-theme: map.merge($light-theme, $light-shades);

// MERGE LIGHT/DARK THEME SHARED COLORS INTO LIGHT THEME
$light-theme: map.merge($light-theme, $shared-colors);

// <===== DARK THEME COLOR SECTION =====>
$dark-theme: (
  // BASE COLORS
  "light": hsl(0deg 0% 0%),
  "dark": hsl(0deg 0% 100%),

  "primary": hsl(258, 54%, 18%),
  "secondary": 	hsl(320, 74%, 21%),
  "selection": hsl(352, 23%, 26%),
  // "selection": hsl(327, 45%, 54%)
);

// DARK THEME SHADES OF GRAY
$dark-shades: generate-shades("dark");

// MERGE DARK THEME COLORS AND SHADES
$dark-theme: map.merge($dark-theme, $dark-shades);

// MERGE LIGHT/DARK THEME SHARED COLORS INTO DARK THEME
$dark-theme: map.merge($dark-theme, $shared-colors);