// !REVISIT
// Base Colors (PRIMARY COLORS IN DESIGN) 
// Semantic Colors (STATES, SUCCESS, ERROR, WARNING, INFOREQUIREMENTS, DISABLED)
// Brand Colors
// Utility Colors (INTERACTIONS, FEEDBACK, HOVER, FOCUS)

// BASE VARIABLES
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-weight: 400;

// MODULAR SCALE (MAJOR THIRD)
$modular-scale: 1.250; 

// FONT FAMILIES
$font-families: (
inter: ("Inter", system-ui, "Avenir", "Helvetica", "Arial", sans-serif),
exo: ("Exo", sans-serif),
exo-2: ("Exo 2", sans-serif),
roboto: ("Roboto", sans-serif),
ysabeau: ("Ysabeau", sans-serif),
ysabeau-infant: ("Ysabeau Infant", sans-serif),
ysabeau-office: ("Ysabeau Office", sans-serif),
ysabeau-sc: ("Ysabeau SC", sans-serif),
roboto-condensed: ("Roboto Condensed", "Arial Narrow", sans-serif),
);

// HEADER(S) MODULAR SCALE STEPS
$header-steps: (
  h1: 6,
  h2: 5,
  h3: 4,
  h4: 3,
  h5: 2,
  h6: 1,
);

// SHARED COLORS ACROSS THEMES
$shared-colors: (
  /* BASE COLORS */
  always-light: #ffffff,
  always-dark: #000000b9,

  /* SEMANTIC COLORS */
  success: #28a745,
  warning: #f54323,
);

// LIGHT THEME COLORS
$light-theme-colors: map-merge(
  (
    /* BASE COLORS */ 
    light: #000,
    medium: #404040,
    opacity-medium: #bfbfbf86,
    medium-dark: rgb(218, 218, 218),
    dark: #ffffff,

    // !Revisit 
    unique:
      rgb(27, 211, 211),
    theme: #618adf,

    text: #a61e4d,
    accent: #025dd4,
    link: #007acc,
    selection: #add8e6
  ),
  $shared-colors
);

// DARK THEME COLORS
$dark-theme-colors: map-merge(
  (
    /* BASE COLORS */ 
    light: #fff,
    medium: #bfbfbf,
    opacity-medium: #40404077,
    medium-dark: rgb(37, 37, 37),
    dark: #131313,

    // !Revisit 
    unique:
      #d608ff,
    theme: #8321a1,

    text: #61afef,
    accent: #56b6c2,
    link: #c678dd,
    selection: #4b5263
  ),
  $shared-colors
);

