// <===== HEADER SECTION =====>
header {
  @include apply-flex(row, space-between, center);
  @include apply-box-shadow($color: var(--shade-8));

  position: relative;
  width: 100%;
  background-color: var(--shade-1);
}

// HEADER TEXT UTILITY: DE-EMPHASIZE TEXT STYLE
.header__text--subtle {
  font-size: modular-scale(-2);
  color: var(--shade-15);
}

// <===== TITLE SECTION =====>
.header__title {
    @include apply-font-family("ysabeau-sc");

    font-weight: 700;
}

// <===== MINI-NAVIGATION-BAR SECTION =====>
.mini-navbar {
  @include apply-flex(row, center, center);
  @include apply-space("margin", -5, "x");
  @include apply-space("padding", -5, "x");
  @include apply-space("gap", -10);

  font-weight: 450;
}

// MINI-NAVBAR SECTION: (USERNAME & ADMIN LEVEL)
.mini-navbar__section {
  @include apply-flex(column, center);
  @include apply-space("padding", -5, "y");
}

// MINI-NAVBAR: USER ICON
.mini-navbar__user-icon {
  font-size: modular-scale(4);
}

// MINI-NAVBAR: OPEN  & CLOSE DROPDOWN BUTTON
.mini-navbar__button {
  @include apply-space("padding-top", -5);

  color: var(--shade-19);
  font-size: modular-scale(3);
}

// <===== DROPDOWN MENU SECTION =====>
.dropdown-menu__section {
  @include apply-position(absolute, calc(100% + modular-scale(-5)), modular-scale(-5));
  @include apply-flex(column, center, start);
  @include apply-space("padding", -5, "y");
  @include apply-space("padding", -5, "x");
  @include apply-space("gap", -10);
  @include apply-box-shadow($color: var(--shade-15));

  font-weight: 300;
  z-index: 1;
  background-color: var(--light);
  border: 1px solid var(--shade-10);
  border-radius: modular-scale(-5);
}

// DROPDOWN MENU: BUTTONS
.dropdown-menu__button {
  @include apply-flex(row, center, center);
  @include apply-space("gap", -10);

  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateX(5px);
  }
}
