// <===== LEFT-SIDEBAR SECTION =====>
.sidebar__aside {
  @include apply-flex(column, null, center);
  @include apply-space("padding-top",19);
  @include apply-space("min-width", 13);
  @include apply-gradient("light", "shade-1", 60deg);
  @include apply-font-family("roboto-condensed");
  @include apply-box-shadow("shade-10", 15);

  font-weight: 500;
  border-right: solid rem(1px) var(--shade-11);
  color: var(--shade-22);
  z-index: 1;
}

// SIDEBAR LINKS/BUTTONS GROUP
.sidebar__links{
  @include apply-flex(column, center, center);
  @include apply-space("padding", -2, "y");
  @include apply-space("gap", -10);

  width: 100%;
  text-align: center;

  &:hover {
    @include apply-gradient("shade-18", "shade-22", 140deg);

    color: var(--shade-4);
  }
}

// SIDEBAR ICONS
.sidebar__icon {
  font-size: modular-scale(4); 
}

// SIDEBAR TEXT
.sidebar__text {
  font-size: modular-scale(-1);
}