// <===== LEFT-SIDEBAR SECTION =====>
.sidebar__aside {
  @include apply-flex(column, null, center);
  
  padding-top: 10%;
  min-width: 6.5%;
  background-color: var(--light);
  color: var(--shade-22);
}

// SIDEBAR LINKS/BUTTONS GROUP
.sidebar__links{
  @include apply-flex(column, center, center);
  @include apply-space("padding", -2, "y");
  @include apply-space("gap", -10);

  width: 100%;
  text-align: center;
}

// SIDEBAR ICONS
.sidebar__icon {
  font-size: modular-scale(4); 
}

// SIDEBAR TEXT
.sidebar__text {
  font-size: 0.875rem;
}
