// // ! Revisit
header h5 {
  @include respond-to("xlarge") {
    color: gray;
  }

  @include respond-to("large") {
    color: green;
  }

  @include respond-to("medium") {
    color: blue;
  }

  @include respond-to("small") {
    color: red;
  }

  @include respond-to("xsmall") {
    color: yellow;
  }
}

.bd {
  border: solid 1px purple;
}
