@charset 'utf-8';
@use "sass:map";
@use "sass:list";
@use "sass:string";
@use 'sass:math';
@use 'sass:meta';
@import "./abstracts/functions";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/placeholders";

@import "./vendor/google-fonts";
@import "./vendor/_bootstrap/index.scss";

@import "./base/reset";
@import "./base/root";
@import "./base/base";
@import "./base/typography";

@import "./components/scrollbar";

@import "./components/admin/login";
@import "./components/admin/header";
@import "./components/admin/sidebar";
@import "./components/admin/error";
@import "./components/admin/tools/toolbar";
@import "./components/admin/tools/action-buttons";

@import "./pages//admin//listings";

@import "./layout/admin/test";

@import "./components/admin/pages/listings/categories/category-row";
@import "./components/admin/pages/listings/categories/create-category";

@import "./components/admin/pages/listings/products/product-view";
@import "./components/admin/pages/listings/products/product-row";

// @import "./components/window/base/window";
// @import "./components/window/subcomponents/item-details";
// @import "./components/window/subcomponents/item-view";
// @import "./components/window/subcomponents/item-form";
// @import "./components/window/subcomponents/item-list";
// @import "./components/window/subcomponents/img-preview";
@import './carousel';
@import "./shame";

// !Revisit
// DARK THEME COLORS
.dark {
  @include apply-theme-colors($dark-theme);
}

/* ACTIVE NAV LINK */
.active {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--accent);
}

/* DISABLED BUTTON, TAB, OR SELECTION */
.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}

/* GLASS EFFECT */
.frost {
  /* From https://css.glass */
  background: var(--opacity-medium);
  backdrop-filter: blur(5px);
  border: 1px solid rgb(255 255 255 / 8%);
}

/* FLEX-GRID LAYOUT */
// .flex-grid {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }

// .col {
//   box-sizing: border-box;
// }

/* DEFAULT PARAGRAPH SIZE */
// p {
//   filter: drop-shadow(5px 3px 10px var(--opacity-medium));
// }

// @mixin make-row($gutter: 0) {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: calc(-1 * #{$gutter});
//   margin-right: calc(-1 * #{$gutter});
// }

// @mixin make-col($size, $columns: 12, $gutter: 0) {
//   flex: 0 0 math.percentage($size / $columns);
//   max-width: math.percentage($size / $columns);
//   padding-left: #{$gutter};
//   padding-right: #{$gutter};
// }

// .row {
//   @include make-row(15px); // Set your gutter width here
// }

// .col {
//   @include make-col(1, 12, 15px); // Adjust size and total columns as needed
// }

// .content__main {
//   height: 100vh;
//   margin: 0;
//   background-size: cover;
//   background-image:
//     radial-gradient(circle at 50% 50%, rgba(255,255,255,0.1), rgba(255,255,255,0.1), transparent 50%),
//     radial-gradient(circle at 30% 30%, rgba(255,255,255,0.1), rgba(255,255,255,0.1), transparent 50%),
//     radial-gradient(circle at 60% 80%, rgba(255,255,255,0.1), rgba(255,255,255,0.1), transparent 50%),
//     linear-gradient(to right, #3a6186, #89253e);
// background-image:
// radial-gradient(circle at 50% 50%, var(--opacity-shade-14), var(--opacity-shade-14), transparent 50%),
// radial-gradient(circle at 30% 30%, var(--opacity-shade-14), var(--opacity-shade-14), transparent 50%),
// radial-gradient(circle at 60% 80%, var(--opacity-shade-14), var(--opacity-shade-14), transparent 50%),
// linear-gradient(to right, var(--shade-5), var(--shade-8));
// }