/* LEFT NAVIGATION SIDEBAR  */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px; /*Offset Menu from Top*/
  background-color: #1c212c;
}

/* SIDEBAR INDIVIDUAL BUTTONS/LINKS */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px 0;
  padding: 5px 0;
  gap: 1px; /* Gap Between Icon and Text */
  min-width: 75px; /* Size of Menu Button */
  cursor: pointer;

  /* transition: background-color 0.3s; */
  /* color: #8c8c8c;  */
}

/* SIDEBAR BUTTONS/LINKS ICONS */
.menu-item-icon {
  font-size: 38px; /* Menu Icon Size */
}

/* SIDEBAR BUTTONS/LINKS TEXT */
.menu-item-text {
  font-size: 0.875rem;
}
